/* body{
    background:black;
} */

.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.skillsimagespng{
    height: 150px;
    width: 150px;
}

.myphoto{
    height: 500px;
    width:500px ;
}

.about{
    display: flex;
}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectimages{
    height: 200px;
    width: 300px;
    margin: 10px;
}